body {
    margin: 0 auto;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(36, 36, 36);
}

p a {
    color: whitesmoke;
}

header {
    /* background-color: rgb(36, 36, 36); */
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    position: fixed;
    top: 0;
}

.navigation {
    margin: 10px auto;
    padding: 0 20px;
    text-align: center;
    display: inline-block;
}

.navigation li {
    display: inline-block;
    margin: 5px;
    background-color: rgb(133, 133, 133);
}

.nav1 {
    width: 180px;
}

.nav2 {
    float: right;
}

.navigation a {
    color: rgb(36, 36, 36);
}

a li {
    /* background-color: rgb(133, 133, 133); */
    padding: 5px 20px;
    margin: 0 20px;
    color: rgb(36, 36, 36);
}

a li:hover {
    background-color: rgb(133, 133, 133, 0.7);
}
 
img {
     width: 100%;
}
  /* Banner */
   
   #banner {
    background: url("https://farm5.staticflickr.com/4908/31942956247_c3b1d2f252_k_d.jpg")fixed no-repeat;
    background-position-y: -100px;
    width: 100%;
    height: 800px; 
    position: relative;
    display: inline-block;
    background-size: cover;
}

#banner:before { 
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    position: absolute;
    width: 100%;
    height: 800px;
}


  #banner h1 {
    position: relative;
    padding: 280px 0 0 0;
    font-size: 80px;
    color: white;
    text-align: center;
  }

#banner p {
    position: relative;
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.content-left{
    display: flex; 
    padding: 50px; 
    background: whitesmoke;
    align-items: center;
    flex-wrap: wrap;
    
}
.content-left p{
    color: rgb(36, 36, 36);
}
.content-left h1{
    color: black;
}
.content-right{
    display: flex;
    flex-direction: row-reverse; 
    padding: 50px; 
    background: rgb(36, 36, 36);
    align-items: center;
    flex-wrap: wrap;
}
.content-right p, h1{
    color: whitesmoke;
}
.image-holder{
    text-align: center; 
    width: 450px;
}
.description{ 
    width: 60%;

}
.image{
    max-width: 75%;
    max-height: 75%;
    display: block;
    margin: 10px auto;  
}
p{
    font-size: 20px;
    text-align: justify;
}

h1{
    font-size: 40px;
    font-weight: bold;
}

.back   {
    width: 100%;
    float: right;
    background-color: whitesmoke;
}

.back img {
    height: 100px;
    width: 100px;
    float: right;
    position: relative;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: rgb(36, 36, 36);
    position: absolute;
    float: left;
    background-size: cover;
}

.cc {
    width: 150px;
    height: 150px;
    margin: 0;
    display: inline-block;
    position: relative;
    opacity: 1;
    padding: 0;
}

.cc:before {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    content: "";
    display: inline-block;
}

.cp {
    width: 150px;
    height: 150px;
    font-size: 24px;
    font-weight: 600;
    color: whitesmoke;
    position: absolute;
    display: inline-block;
    z-index: 0;
    border: 0;
    margin: 0;
    padding: 0;
}

/* .cp p {
    padding-top: 390px;
} */

.cc:hover {
    opacity: 0;
    transition: 0.5s ease;
}

.c1 {
    background-image: url("https://farm8.staticflickr.com/7398/26841525002_9c98117e16_k_d.jpg");
    background-position-x: -280px;
    background-size: cover;
}

.c2 {
    background-image: url("https://farm8.staticflickr.com/7094/7260492868_90acddc7e8_o_d.jpg");
    background-position-x: -75px;
    background-size: cover;
}

.c3 {
    background-image: url("https://scontent-sin2-1.xx.fbcdn.net/v/t1.0-9/1391509_10200667052868639_242254428_n.jpg?_nc_cat=100&_nc_ht=scontent-sin2-1.xx&oh=b9afb7c790456cd4d718966be9c04a2a&oe=5CBB428D");
    background-position-x: -75px;
    background-size: cover;
}

.c4 {
    background-image: url("https://scontent-sin2-1.xx.fbcdn.net/v/t1.0-9/10922699_10204205531648397_8669311358099570810_n.jpg?_nc_cat=103&_nc_ht=scontent-sin2-1.xx&oh=45dfd684355c29f5b063fe6c1bd75594&oe=5CB3325B");
    background-size: cover;
    background-position-x: -120px;
}

input[type="text"] {
    width: 50%;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 5px;
    padding: 5px;
}

textarea {
    border: 2px solid rgb(150, 150, 150);
    border-radius: 5px;
}

.submit {
    content: "";
    display: table;
    clear: both;
  }